@import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css);

.select2-selection--single{
    /* background-color: #202940!important; */
    border-top-style: hidden!important;
    border-left-style: hidden!important;
    border-right-style: hidden!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-bottom-color: #a0a0a0a3!important;
    /* margin-top: -18px!important; */
}

.select2-selection__rendered{
    color: black!important;
    font-weight: 400!important;
}

select.form-control, input.form-control, textarea.form-control{
    padding:0px 10px;
}

select.form-control option, optgroup{
    color : #000000; 
}

table{
    font-size:14px;
    color:#a7a4a4;
}

.uploadOuter {
    text-align: center;
    padding: 20px;
}

.dragBox {
    width: 350px;
    height: 200px;
    line-height: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #999;
    border: 2px dashed #c3c3c3;
    display: inline-block;
    transition: transform 0.3s;
}

.dragBox input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.draging {
  transform: scale(1.1);
}

#preview img {
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#preview embed {
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.upload_btn_main {
    margin-top: 10px;
}

.btn_def {
    background: #4682b4;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    width: 130px;
}

.expense_forms td select {
    width : 100%;
}

.expense_forms td input {
    width : 90%;
    float : right;
}

.tax_style select{
    width: 80% !important;
    float: left !important;
}

.tax_style {
    width: 80px;
}

.bottom_tax input{
    width: 100%;
}

.modal-dialog.payment_dialog {
    max-width: 500px;
    margin: 17.75rem auto;
}

.payment_modal_header {
    background: #598ebb;
    border: none;
    color: white;
}

.payment_modal_footer {
    border: none;
}

.close_btn{
    color: white;
    border: none;
    background: transparent;
    font-size: 30px;
}

.contact_modal_dialog{
    max-width: 850px;
}

.ledger_modal_dialog{
    max-width: 600px;
}

.product_modal_dialog{
    max-width: 1000px;
}

.expense_forms td textarea {
    width: 95%;
    float: left;
    height: 35px !important;
    overflow-y: scroll;
}

.ui-datepicker{
    z-index: 3 !important;
}

.auto_generate{
    height: 0px;
    position: relative;
    margin-bottom: 15px;
}

.auto_generate input {
    position: absolute;
    top: 7px;
}

.sub_i input {
    margin-left: 10px;
}

.sub_i i {
    margin-top: 3px;
}

.dark-edition .form-group label {
    color: #000;
}

.fa-inr{
    color: #ffffffd1;
}

.table-responsive {
    width: 100%;
    display: table;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.prod_form_width .form-control{
    width: 100% !important;
}

.expense_num_inp{
    width: 90% !important;
}

@media (max-width: 768px) {
    .auto_generate {
        margin-left: 0px !important;
        height: 0px;
        position: relative;
        margin-bottom: 15px;
    }
    
    .table-responsive {
        width: 100%;
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    
    .form-control {
        width: 90% !important;
    }
    
    .form-group.row.sub_i label {
        padding-left: 0;
    }

    .form-group.row.sub_i div {
        padding-left: 0;
    }
    
    .td{
        width: 150px;
    }
}

@media (max-width: 480px) {
    .pd-0{
        padding: 0px;
    }      
}