
/* html {
  overflow-y: hidden;
} */

.dark-edition .sidebar .sidebar-background:after, .dark-edition .sidebar {
  background-color: #fff !important;
}

.dark-edition .card .card-header-primary .card-icon, .dark-edition .card .card-header-primary .card-text, .dark-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .dark-edition .card.bg-primary, .dark-edition .card.card-rotate.bg-primary .front, .dark-edition .card.card-rotate.bg-primary .back {
  background: #4682B4 !important;
}

a:hover {
  color:white !important;
} 

.contact_name:hover{
  color: #4682B4 !important;
  }

.input-sm{
  border-bottom: 1px solid black; 
  border: #000;
}

.element.style {
  border: groove;
}

.ps-theme-default {
  background-image: none !important;
}
.td {
  color: #000 !important;
}
.sidebar .nav {
  background-color: #fff !important;
}

.custom-row button {
  border: 1px solid #4682B4 !important;
  color: #4682B4;
  font-size: 15px;
  float: left;
  width: 75px;
  border-radius: 5px;
}
/* .nav_btns  {
  padding-top: 8px;
} */

.contact_name{
  font-family: Arial !important;
}
.td {
  color: #000 !important;
  font-family: Arial !important;
}


.simple-text logo-normal {
  color: #000 !important;
  font-family: Arial;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {
  color: #000 !important;
}

.custom-row  .btn1{
  background-color: white;
  border-radius: 4px;
  color: white;
  padding: 1px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  margin-right: -143px;
  background-color: gray; 
  border: 1px solid #fff;
  margin-top: -3px;
  padding-top: 1px;
  margin-left: 5px;
}

/* .nav .active {
  background-color: #4682B4 !important;
} */

.dark-edition .sidebar[data-color="purple"] li.active>a {
  color: #fff;
  background: linear-gradient(60deg, #4682B4, #4682B4) !important;
  box-shadow: none;
}

.navbar-brand{
  color: #4682B4 !important;
}

body {
  background-color: #EBEBEB !important;
}

@media (min-width: 1200px){ 
    .container{
        width:100% !important;
    }  
    
    .custom-row{
        margin-right: -3.75rem;
    }
}

.custom-row{
  padding: 10px; 
  background: #4682B4 !important;/*linear-gradient(60deg,#f5700c,#ff9800);*/
  height: 40px;
}

.custom-row b {
  color: #fff;
}
.custom-row .rounds {
  float: right;
}


#customize_table {
                      height: 500px;
                      overflow-y: auto;
}

/* .custom-row .round1{
  height: 32px;
  width:32px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #fff;
}

.custom-row .round2{
  height: 32px;
  width:32px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #fff;
}

.custom-row .round3{
  height: 32px;
  width:32px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #fff;
} */

.sidebar .nav li.active p {
  color:white;
}
.custom-row input{
  color: #000 !important;
  border-radius: 0px;

  height: 20px !important;
  border: 1px solid #fff;
  background-color: #fff;
}

.custom-row input:focus{
  border-radius: 0px;
  background-color: #fff;
  color:#000;
  background-image: none !important;
}


.form-control{
    height: 20px !important;
}

.table th, .table td {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 6px 6px 5px;
  color: #000 !important;
  border-color: white;
}

.table td a{
  color: #000 !important;
}

.card-body {
  padding:0px !important;
  border-radius: 1px !important;
  background-color: #fff !important;
}

.card {
  border-radius: 0px;
  margin-top: 0px;
}

.col-lg-12 {
  padding-left: 0px;
  padding-right: 0px;
}

thead {
  background-color: #c3c3c3 !important;
  color: #fff !important;
}


/************************************************************
Background STYLES
************************************************************/

.bg-gold{
    background-color: #ffcc00;
    color: #000000;
}

.bg-gold .card-subtitle{
    color: #000000;
}

.bg-gold .text-muted{
    color:#000000 !important;
}

.bg-green{
    background-color: #72ec50;
    color: #000000;
}

.bg-green .card-subtitle{
    color: #000000;
}

.bg-green .text-muted{
    color:#000000 !important;
}

.bg-blue{
    background-color: #7571f9;
    color:#000000;
}

.bg-blue .card-title{
    color:#FFFFFF;
}

.bg-blue .card-subtitle{
    color: #FFFFFF;
}

.bg-blue .text-muted{
    color:#FFFFFF !important;
}

/*****************************************************/

.hide-row{
  display: none !important;
}

.show-row{
  display: table-row !important;
}

/******************************************************/

.loader-custom {
  margin-left:37%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**/

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill_red {
  100% {
    box-shadow: inset 0px 0px 0px 30px #FF0000;
  }
}

@keyframes fill_green {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

/*
// Invoice Template - CSS
*/


.template_header{
  background-color: rgb(105, 218, 58);
  color:#FFFFFF;
  font-weight:bold;
  padding:0px;
}

.template_header_orange{
  background-color: rgb(250, 112, 0);
  color:#FFFFFF;
  font-weight:bold;
  padding:0px;
}

.template_header_blue{
  background-color: rgb(1, 121, 233);
  color:#FFFFFF;
  font-weight:bold;
  padding:0px;
}

.template_header_white{
  background-color: rgb(255, 255, 255);
  color:#000000;
  font-weight:bold;
  padding:0px;
}

.template_header_grey{
  background-color: rgb(99, 99, 99);
  color:#000000;
  font-weight:bold;
  padding:0px;
}
.modal-footer{
  background-color: #598ebb !important;
  color:#598ebb !important;
}

#invoice_template_body .card-header img{
  height:100px;
  width:auto;
  margin-left:10px;
  margin-top:0px;
}

#invoice_template_body .card-header p{
  padding:5px 10px 0px 0px;
  color:#000000;
  margin-bottom:0px;
  font-family: 'Lucida Sans';
}

.dark-edition .form-control {
  background-image: linear-gradient(to top, #4682B4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);
  border-bottom: 1px solid #c3c3c3;
  padding: 0px;
  color: #000 !important;

#template_body h3, h4,h5{ 
  margin-bottom: 3px;
}

.material-icons{
  color: #000 !important;
}

#template_body table { 
  table-layout: fixed ;
  width: 100% ;
  border-collapse: collapse ;
  border: 1px #000000 solid ;
  font-size:12px;
}
#address_bar td { 
  width: 50%; 
  border: 2px #000000 solid ;
  padding: 10px ;
}
#address_bar th { 
  width: 50%; 
  border: 2px #000000 solid ;
  padding: 10px ;
  font-size:12px;
}

#data_bar td { 
  border: 2px #000000 solid ;
  padding: 10px ;
  color:#000000;
}

#data_bar th { 
  border: 2px #000000 solid ;
  padding: 10px ;
  background-color: rgb(0, 0, 0);
  color:#FFFFFF;
  font-size:12px;
}

.th_green{
  background-color: rgb(105, 218, 58);
  color:#000000;
}

.th_orange{
  background-color: rgb(250, 112, 0);
  color:#000000;
}

.th_blue{
  background-color: rgb(1, 121, 233);
  color:#FFFFFF;
}

.th_white{
  background-color: rgb(255, 255, 255);
  color:#000000;
}

.th_grey{
  background-color: rgb(99, 99, 99);
  color:#FFFFFF;
}

.hide{
  display:none;
}

/*******************************************************************/

.wrong_input{
  background-color: #FF0000 !important; 
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  cursor: not-allowed;
}

/******************************************************************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top:5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**********************************/

.error_field {
  color: #FF0000;
  font-weight:bold;
}
