{% load static %}

<style>
.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
    scrollbar-color: rebeccapurple white;
    scrollbar-width: none;
}

.sidebar .sidebar-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>

<div class="sidebar-wrapper ps-theme-default" style="background-image: url({% static 'all_page/img/sidebar-2.jpg' %}) ">
    <div class="sidebar-background"> 
        <ul class="nav" id="menu">
            <li class="nav-item deactive">
                <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="material-icons" style="color:#ffe047;">dashboard</i>
                <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'contacts' %}">
                <i class="material-icons" style="color:#ffe047;">person</i>
                <p>Contacts</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'view_inventory' %}">
                <i class="material-icons" style="color:#ffe047;">developer_board</i>
                <p>Inventory</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'view_products' %}">
                <i class="material-icons" style="color:#ffe047;">library_books</i>
                <p>Products</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'collections' %}">
                <i class="material-icons" style="color:#ffe047;">money</i>
                <p>Collections</p>
                </a>
            </li>      
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'invoice' %}">
                <i class="material-icons" style="color:#ffe047;">file_copy</i>
                <p>Invoices</p>
                </a>
            </li>   
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'credit_note'  %}">
                <i class="material-icons" style="color:#ffe047;">add</i>
                <p>Credit Note</p>
                </a>
            </li>    
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'add_accounts'  %}">
                <i class="material-icons" style="color:#ffe047;">add</i>
                <p>Accounts/Legder</p>
                </a>
            </li> 
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'purchase_order'  %}">
                <i class="material-icons" style="color:#ffe047;">dns</i>
                <p>Purchase Order</p>
                </a>
            </li> 
			<li class="nav-item ">
                <a class="nav-link" href="{% url 'view_expenses'  %}">
                <i class="material-icons" style="color:#ffe047;">dns</i>
                <p>Expense</p>
                </a>
            </li> 
        </ul>
    </div>
</div>  