{% load static %}

{% if breadcrumb_title == 'INVOICE' and type != 'view' %}
<style>
.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 75px;
    z-index: 4;
    padding-bottom: 30px;
    scrollbar-color: rebeccapurple white;
    scrollbar-width: none;
}

.sidebar .sidebar-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.sidebar{
    width: 85px!important;
}
.main-panel {
    float: left!important;
    margin-left: 2%!important;
    width: 100%!important;
}
</style>
{% elif breadcrumb_title == 'PURCHASE ENTRY' and type != 'view' %}
<style>
    .sidebar .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 75px;
        z-index: 4;
        padding-bottom: 30px;
        scrollbar-color: rebeccapurple white;
        scrollbar-width: none;
    }
    
    .sidebar .sidebar-wrapper::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    .sidebar{
        width: 85px!important;
    }
    .main-panel {
        float: left!important;
        margin-left: 2%!important;
        width: 100%!important;
    }
    </style>
{% else %}
<style>
    .sidebar .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 30px;
        scrollbar-color: rebeccapurple white;
        scrollbar-width: none;
    }
    
    .sidebar .sidebar-wrapper::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
</style>
{% endif %}

<div class="sidebar-wrapper ps-theme-default" style="background-image: url({% static 'all_page/img/sidebar-2.jpg' %}) ">
    <div class="sidebar-background"> 
        <ul class="nav" id="menu">
            <li class="nav-item deactive">
                <a title="Dashboard" class="nav-link" href="{% url 'dashboard' %}">
                <i class="material-icons" style="color:#c3c3c3;">dashboard</i>
                <p>Dashboard</p>
            </a>
            </li>
            <li class="nav-item ">
                <a title="Contacts" class="nav-link" href="{% url 'contacts' 0 %}">
                <i class="material-icons" style="color:#c3c3c3;">person</i>
                <p>Contacts</p>
                </a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" href="{% url 'view_inventory' %}">
                <i class="material-icons" style="color:#c3c3c3;">developer_board</i>
                <p>Inventory</p>
                </a>
            </li> -->
            <li class="nav-item ">
                <a title="Products" class="nav-link" href="{% url 'view_products' 0 %}">
                <i class="material-icons" style="color:#c3c3c3;">library_books</i>
                <p>Products</p>
                </a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" href="{% url 'collections' %}">
                <i class="material-icons" style="color:#c3c3c3;">money</i>
                <p>Collections</p>
                </a>
            </li>       -->
            <li class="nav-item ">
                <a title="Invoice" class="nav-link" href="{% url 'invoice' %}">
                <i class="material-icons" style="color:#c3c3c3;">file_copy</i>
                <p>Invoice</p>
                </a>
            </li>   
            <li class="nav-item ">
                <a title="Credit Note" class="nav-link" href="{% url 'credit_note'  %}">
                <i class="material-icons" style="color:#c3c3c3;">add</i>
                <p>Credit Note</p>
                </a>
            </li>    
            <li class="nav-item ">
                <a title="Accounts/Legder" class="nav-link" href="{% url 'add_accounts'  %}">
                <i class="material-icons" style="color:#c3c3c3;">add</i>
                <p>Accounts/Legder</p>
                </a>
            </li> 
            <li class="nav-item ">
                <a title="Purchase Order" class="nav-link" href="{% url 'purchase_order'  %}">
                <i class="material-icons" style="color:#c3c3c3;">dns</i>
                <p>Purchase Order</p>
                </a>
            </li> 
            <li class="nav-item ">
                <a title="Purchase Entry" class="nav-link" href="{% url 'Purchase_entry'  %}">
                <i class="material-icons" style="color:#c3c3c3;">menu_book</i>
                <p>Purchase Entry</p>
                </a>
            </li>
            <li class="nav-item ">
                <a title="Journal Entry" class="nav-link" href="{% url 'view_journalentry'  %}">
                    <i class="material-icons" style="color:#c3c3c3;">dns</i>
                    <p>Journal Entry</p>
                </a>
            </li> 
			<li class="nav-item ">
                <a title="Expense" class="nav-link" href="{% url 'view_expenses'  %}">
                <i class="material-icons" style="color:#c3c3c3;">dns</i>
                <p>Expense</p>
                </a>
            </li> 
        </ul>
    </div>
</div>  